@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    background-color:whitesmoke;
    margin-top: 3rem;
    font-family: 'Poppins';
    color:  hsl(234, 12%, 34%);
}

.mainsection{
    margin: auto;
    width: 20rem;
    height: auto;
    min-width: 80%;
}

.firstheading{
    font-weight: 300;
    letter-spacing: 1px;
}

.firstdiv{
    width: 20rem;
    min-width: 100%;
    background-color: white;
    height: 15rem;
    padding: 2rem;
    border-radius: 10px;
     border-top: 4px solid hsl(180, 62%, 55%);
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.1);

}

.firstdivimg{
    display: flex;
    justify-content: end !important;
    align-items: end;
    margin-top: 2.5rem;
   
}

.seconddiv{
    width: 20rem;
   min-width: 100%;
    background-color: white;
    height: 15rem;
    padding: 2rem;
    border-radius: 10px;
    border-top: 4px solid hsl(0, 78%, 62%);
    box-shadow: 4px 2px 10px  rgba(0, 0, 0, 0.1);
   
}

.seconddivimg{
    display: flex;
    justify-content: end !important;
    align-items: end;
    margin-top: 2rem;
}

.thirddiv{
    width: 20rem;
   min-width: 100%;
    background-color: white;
    height: 15rem;
    padding: 2rem;
     border-radius: 10px;
     border-top: 4px solid hsl(34, 97%, 64%);
     box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.1);
}

.thirddivimg{
    display: flex;
    justify-content: end !important;
    align-items: end;
    margin-top: 2.5rem;
}

.fourthdiv{
    width: 20rem;
   min-width: 100%;
    background-color: white;
    height: 15rem;
    padding: 2rem;
     border-radius: 10px;
     border-top: 4px solid hsl(34, 97%, 64%);
      box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.1);
}

.fourthdivimg{
    display: flex;
    justify-content: end !important;
    align-items: end;
    margin-top: 2.5rem;
}
